body {
    margin: 0;
    background-color: rgba(0,0,0,0.7);
}
.container {
    width: 100vw;
    height: 100vh;
}
p {
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 60px;
    font-weight: 900;
    color: #ffc600;
    text-shadow: -10px -10px 2px #000; /*initial text-shadow position on page load*/
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}